### Import Libraries

In [2]:
import pandas as pd

### Read File

In [3]:
df = pd.read_excel('Book3.xlsx')

In [4]:
df

,word,df,idf,Doc-1,Doc-2,Doc-3,Doc-4,Doc-5,Doc-6,Doc-7,...,W Doc-1,W Doc-2,W Doc-3,W Doc-4,W Doc-5,W Doc-6,W Doc-7,W Doc-8,W Doc-9,W Doc-10
0,oleh,2,0.70,1,0,1,0,0,0,0,...,0.70,0.0,0.70,0.00,0.0,0.0,0.0,0.0,0.0,0
1,medali,4,0.40,1,1,1,1,0,0,0,...,0.40,0.4,0.40,0.40,0.0,0.0,0.0,0.0,0.0,0
2,emas,3,0.52,1,0,1,1,0,0,0,...,0.52,0.0,0.52,0.52,0.0,0.0,0.0,0.0,0.0,0
3,cabang,5,0.30,1,1,1,1,1,0,0,...,0.30,0.3,0.30,0.30,0.3,0.0,0.0,0.0,0.0,0
4,atletik,2,0.70,1,0,1,0,0,0,0,...,0.70,0.0,0.70,0.00,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,pekan,1,1.00,0,0,0,0,0,0,0,...,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,1
71,barcelona,1,1.00,0,0,0,0,0,0,0,...,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,1
72,nyata,1,1.00,0,0,0,0,0,0,0,...,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,1
73,krisis,1,1.00,0,0,0,0,0,0,0,...,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,1
74,uang,1,1.00,0,0,0,0,0,0,0,...,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,1

### Create new dataframe for selected word

In [5]:
dfx = df[(df['word'] == 'medali') | (df['word'] == 'emas') | (df['word'] == 'indonesia')]

In [6]:
dfx

,word,df,idf,Doc-1,Doc-2,Doc-3,Doc-4,Doc-5,Doc-6,Doc-7,...,W Doc-1,W Doc-2,W Doc-3,W Doc-4,W Doc-5,W Doc-6,W Doc-7,W Doc-8,W Doc-9,W Doc-10
1,medali,4,0.40,1,1,1,1,0,0,0,...,0.40,0.40,0.40,0.40,0.00,0.00,0.00,0.0,0.0,0
2,emas,3,0.52,1,0,1,1,0,0,0,...,0.52,0.00,0.52,0.52,0.00,0.00,0.00,0.0,0.0,0
12,indonesia,6,0.22,0,1,1,1,1,1,1,...,0.00,0.22,0.22,0.22,0.22,0.22,0.22,0.0,0.0,0

### Calcultion Formula

![alt text](https://i.postimg.cc/Y0WdL74H/frmls.png)
<br>untuk memudahkan perhitungan, maka tiap bagian akan dipisah menjadi a,b dan c sesuai dengan gambar

### sim (q, Doc-1)

In [10]:
import numpy as np

In [11]:
a1 = sum(dfx['W Doc-1'] * 0.3)

In [12]:
b = np.sqrt(np.square(0.3) + np.square(0.3) + np.square(0.3))

In [13]:
c1 = np.sqrt(sum(np.square(df['W Doc-1'])))

In [17]:
a1 / (b*c1)

0.2503811570136922

### sim (q, Doc-2)

In [18]:
a2 = sum(dfx['W Doc-2'] * 0.3)

In [19]:
c2 = np.sqrt(sum(np.square(df['W Doc-2'])))

In [20]:
a2 / (b*c2)

0.16952804240747224

### sim (q, Doc-3)

In [21]:
a3 = sum(dfx['W Doc-3'] * 0.3)

In [22]:
c3 = np.sqrt(sum(np.square(df['W Doc-3'])))

In [23]:
a3 / (b*c3)

0.19234815728328677

### sim (q, Doc-4)

In [24]:
a4 = sum(dfx['W Doc-4'] * 0.3)

In [25]:
c4 = np.sqrt(sum(np.square(df['W Doc-4'])))

In [26]:
a4 / (b*c4)

0.26393131953069654

### sim (q, Doc-5)

In [27]:
a5 = sum(dfx['W Doc-5'] * 0.3)

In [28]:
c5 = np.sqrt(sum(np.square(df['W Doc-5'])))

In [29]:
a5 / (b*c5)

0.037787971610833235

### sim (q, Doc-6)

In [30]:
a6 = sum(dfx['W Doc-6'] * 0.3)

In [31]:
c6 = np.sqrt(sum(np.square(df['W Doc-6'])))

In [32]:
a6 / (b*c6)

0.05173220892960275

### sim (q, Doc-7)

In [33]:
a7 = sum(dfx['W Doc-7'] * 0.3)

In [34]:
c7 = np.sqrt(sum(np.square(df['W Doc-7'])))

In [35]:
a7 / (b*c7)

0.04351941398892446

### sim (q, Doc-8)

In [36]:
a8 = sum(dfx['W Doc-8'] * 0.3)

In [37]:
c8 = np.sqrt(sum(np.square(df['W Doc-8'])))

In [38]:
a8 / (b*c8)

0.0

### sim (q, Doc-9)

In [39]:
a9 = sum(dfx['W Doc-9'] * 0.3)

In [40]:
c9 = np.sqrt(sum(np.square(df['W Doc-9'])))

In [41]:
a9 / (b*c9)

0.0

### sim (q, Doc-10)

In [42]:
a10 = sum(dfx['W Doc-10'] * 0.3)

In [43]:
c10 = np.sqrt(sum(np.square(df['W Doc-10'])))

In [44]:
a10 / (b*c10)

0.0